<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
  <title>Document</title>
 
</head>
<body>
  <div class="bg"></div> <!-- שכבת הרקע עם טשטוש -->

  <div class="content">
    <div class="titleandmidtitle">
      <h1>About Us</h1>
      <p class="midtitle">Fake News Detector is a leading platform...</p>
    </div>

    <p class="description">
      This project was developed as part of our academic studies at Ruppin Academic Center.
      The main goal of the system is to provide automatic transcription of TikTok videos, with the option to also transcribe YouTube videos.
      In addition, the system enables fake news detection using a machine learning model.
      Users can input text manually and check its credibility based on various TikTok-related parameters.
      We integrated advanced technologies such as Flask and Python, along with Whisper transcription libraries and NLP (Natural Language Processing) tools, 
      to build a reliable and intelligent system.
    </p>
  </div>
</body>


</html>
  