<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>TikTok Transcription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<div class="overlay">
    
    <h1>🎤 Tik Tok Video Transcription Tool </h1>

    <input type="text" id="videoUrl" placeholder="🔗 Insert TikTok video URL">
    <br>
    <button onclick="transcribe()">Transcribe</button>

    <div id="result">Please wait, this may take a few moments</div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</div>
</body>
</html>
