<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TikTok Transcription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/videopage.css') }}">
</head>
<body>

  <div class="backtohp">
    <a href="{{ url_for('home') }}">
      <button>
        <img src="/static/pictures/home.jpg" alt="Home" width="80" height="80">
      </button>
    </a>
    <a href="{{ url_for('index') }}">
      <button>
        <img src="/static/pictures/left.jpg" alt="Home" width="80" height="80">
      </button>
      
    </a>
  </div>
    

<div class="overlay">
   
    <h1> Tik Tok Video Transcription Tool </h1>
    <input type="text" id="videoUrl" placeholder="🔗 Insert TikTok video URL">
    <button onclick="transcribe()">Transcribe</button>
    <div id="result">Please wait, this may take a few moments</div>
</div>


</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>
