body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("/static/pictures/fake-news-detector-960.jpg"); /* התמונה שאתה שלחת */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:40px;
  
}

.overlay {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.3s ease , box-shadow 0.3s ease;        /* נשאר רספונסיבי */
  min-height: 400px;  /* גובה מינימלי, יגדל עם תוכן */
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: flex-start; /* לא למרכז אנכית – שיהיה מקום לכותרת ותוכן */

}

.overlay:hover {
  transform: scale(1.03); /* הגדלה עדינה */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* צל חזק יותר */
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color:rgba(0, 0, 0, 0.779);
}


input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #007bff;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
  border:none;
}


button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #2c4650f3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

}

button:hover {
  background-color: #3e5870;
  transform: scale(1.03);
}

#result {
  display:none ;
  margin-top: 25px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  font-size: 16px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);

}


#Textresult {
  display:none ;
  margin-top: 25px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  font-size: 16px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);

}

.backtohp {
  width: 100%;                /* תופס את כל הרוחב */
  display: flex;
  justify-content: flex-start; /* מצמיד לשמאל */
  margin-left: 10px;
  margin-top: 40px;
  gap:15px;

}

