body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("/static/pictures/fake-news-detector-960.jpg"); /* התמונה שאתה שלחת */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:40px;
  margin-bottom: 40px;
  
}

.overlay {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.3s ease , box-shadow 0.3s ease;        /* נשאר רספונסיבי */
  min-height: 400px;  /* גובה מינימלי, יגדל עם תוכן */
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: flex-start; /* לא למרכז אנכית – שיהיה מקום לכותרת ותוכן */

}

.overlay:hover {
  transform: scale(1.03); /* הגדלה עדינה */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* צל חזק יותר */
}

h1 {
  font-size: clamp(15px, 2vw, 30px);  /* גודל גמיש בין 24px ל-40px */
  margin-bottom: 20px;                /* רווח מתחת */
  font-weight: 700;                   /* כותרת מודגשת */
  color: white;       /* אפור כהה במקום שחור מלא */
  letter-spacing: 1px;                /* רווח קטן בין אותיות */
  line-height: 1.2;                   /* גובה שורה נעים לעין */
  text-align: center;                 /* מרכז את הכותרת */
  text-shadow: 5px 5px 8px rgba(0,0,0,0.7);
  transition: all 0.3s ease;          /* אנימציה חלקה */
  font-family: Verdana;
}


input[type="text"] {
  width: 100%;                  /* תופס את כל הרוחב */
  padding: 12px 20px;           /* ריווח פנימי נוח */
  font-size: 16px;              /* גודל טקסט */
  border-radius: 25px;          /* פינות עגולות כמו גוגל */
  border: 1px solid #ddd;       /* מסגרת עדינה */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* צל עדין */
  box-sizing: border-box;       /* חישוב נכון של רוחב */
  margin-bottom: 20px;          /* רווח מתחת */
  text-align: left;             /* הסמן והטקסט יתחילו מצד שמאל */
  outline: none;                /* הסרת הקו הכחול ברגע שלוחצים */
  transition: all 0.2s ease;    /* מעבר חלק כשיש שינוי */
}

input[type="text"]:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}


/* כשמתמקדים בתיבה (לוחצים/מתחילים לכתוב) */
input[type="text"]:focus {
  border: 1px solid #aaa;                  /* המסגרת נהיית אפורה כהה יותר */
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);   /* הצל נהיה חזק יותר */
}


button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #2c4650f3;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3e5870;
  transform: scale(1.03);
  font-weight: bold;
}


#result {
  display:none ;
  margin-top: 25px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  font-size: 16px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);

}


#Textresult {
  display:none ;
  margin-top: 25px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  font-size: 16px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);

}

.backtohp {
  width: 100%;                /* תופס את כל הרוחב */
  display: flex;
  justify-content: flex-start; /* מצמיד לשמאל */
  margin-left: 10px;
  margin-top: 40px;
  gap:15px;
}

.backtohp button img {
  width: 80px;         /* קובע גודל */
  height: 80px;        /* עדיף לשים אותו ערך כמו width */
  border-radius: 50%;  /* הופך את התמונה לעיגול */
  object-fit: cover;   /* ממלא את הצורה בלי לעוות */
}


.backtohp button {
  border-radius: 50%;
  padding: 5px;
  background-color: #2c4650f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row; /* עושה אותם בטור */
  gap: 20px;              /* רווח ביניהם */
}

.sidebar a {
  color: white;             /* צבע טקסט */
  font-size: 20px;
  text-decoration: none;    /* בלי קו תחתון */
  transition: color 0.3s;
  font-weight: bold;
}



.sidebar a:hover {
  color: #1e90ff;           /* כחול יפה (DodgerBlue) */
  
}




